<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/51d9d566-7b91-4f20-a307-a9f7ce022268/resourcegroups/PROYECTO-APP-DISTRIBUIDAS/providers/Microsoft.Web/sites/APICORE20230115123106</ResourceId>
    <ResourceGroup>PROYECTO-APP-DISTRIBUIDAS</ResourceGroup>
    <ApiResourceId>/subscriptions/51d9d566-7b91-4f20-a307-a9f7ce022268/resourceGroups/PROYECTO-APP-DISTRIBUIDAS/providers/Microsoft.ApiManagement/service/API-DIST/apis/API-PRODUCTO</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apicore20230115123106.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b2850d8b-5788-4555-80eb-c5d9dcfdddee</ProjectGuid>
    <MSDeployServiceURL>apicore20230115123106.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>APICORE20230115123106</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$APICORE20230115123106</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>