<app-header></app-header>

<div class="container">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{datosProducto.nombre}}</h5>
      <p class="card-text">ID Producto: {{datosProducto.idProducto}}</p>
      <p class="card-text">Codigo de Barras: {{datosProducto.codigoBarra}}</p>
      <p class="card-text">Marca: {{datosProducto.marca}}</p>
      <p class="card-text">Categoria: {{datosProducto.categoria}}</p>
      <p class="card-text">Precio: {{datosProducto.precio}}</p>
    </div>
  </div>

</div>

<app-footer></app-footer>
